@font-face {
	font-family: 'Source Sans Pro';
	src: url('SourceSansPro.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Serif SC';
	src: url('NotoSerifSC.otf');
	font-weight: normal;
	font-style: normal;
}
